@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30%;  
  background-color: #00ff55;
  padding: 20px;
  border: 10px solid #452f00;
  font-family: poppins, sans-serif;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
.numer {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
}
button {
  width: 50%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  margin-top: 20px;
  font-size: 20px;
  
}
button:hover {
  background-color: #452f00;
  color: #ffffff;
}
h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px 20px 15px;

}
label,
h4 {
  padding: 5px px;
  font-size: 20px;

  
}
input {
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  width: 25%;

}
@media screen and (max-width: 600px) {
  input {
    display: flex;
    width: 100%;
    margin: 5px;
    padding: 10px;
    
  }
}
